<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>链爱</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="telephone=no, email=no">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/seven_night/static/js/sha1.js"></script>
    <script src="/seven_night/static/js/countdown.min.js"></script>
    <script src="/seven_night/static/js/jscss/qrcode.min.js"></script>
    <script src="/seven_night/static/js/jscss/clipboard.js"></script>
    <!-- <script src="wlap/js/canvas_bg.js"></script> -->
    <!-- <script src="wlap/js/tx.js"></script> -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
    <link rel="stylesheet" href="/seven_night/static/css/tanabata/example.css">
    <link rel="stylesheet" href="/seven_night/static/css/tanabata/app.css">
    <link rel="stylesheet" href="/seven_night/static/css/common.css">
    <script src='/seven_night/static/js/weixin.js'></script>
    <script src='/seven_night/static/js/lunpan.js'></script>


</head>

<script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 750 * 100 + 'PX'
</script>
<body>
<div id="scene_home" class="container">
    <div class="page article js_show">
        <canvas id="c" style="position: absolute;z-index: -1;text-align: center;"></canvas>
        <div class="center_bg"></div>
        <div class="header_banner">
            <p><img src="../seven_night/static/images/banner.png"></p>
            <input type="hidden" name="openid" value="{{ .openid}}">

        </div>
        <div class="page__bd">
            <div class="barrage js_barrage_wrap" style="overflow: hidden;">
                <div id="barrage1" class="js_barrage_line"></div>
                <div id="barrage2" class="js_barrage_line"></div>
                <div id="barrage3" class="js_barrage_line"></div>

            </div>
        </div>
        <div class="express">
            <p class="express_btn">
                <a href='javascript:switchScene("scene_filldata");'>
                    <img src="../seven_night/static/images/circle.png">
                    <span class="first_btn">我要表白</span>
                </a>
            </p>

        </div>
    </div>
</div>

<div id="scene_filldata" class="container">
    <div class="page article js_show">
        <div class="letter_bg"></div>
        <div class="letter_img"></div>
        <a href='javascript:switchScene("scene_home");' > <div class="go_back"></div></a>
        <div class="letter_content">
            <div class="page__bd">
                <div class="weui-flex__item">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="weui-panel__bd">
                                <div class="weui-media-box weui-media-box_small-appmsg">
                                    <a href="javascript:;">
                                        <p class="to">TO:<input class="weui-input to_input" type="text"
                                                                placeholder="亲爱的"
                                                                id="data_to">
                                        </p>
                                        <span class="picture" id="chooseImage" onclick="chooseimge()"><img src="" id="updateimg" alt="可上传"></span>
                                    </a>
                                    <div class="weui_cell">
                                        <div class="weui_cell_bd weui_cell_primary">
                                        <textarea class="weui_textarea" placeholder="表白文字" rows="3"
                                                  maxlength="200" id="data_content"></textarea>
                                        </div>
                                    </div>
                                    <label for="weuiAgree" class="weui-agree">

                                        <p class="from">Form:<input class="weui-input from_input" type="text"
                                                                    placeholder="Lover" id="data_from"></p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox agree_checkbox"/>
            <span class="weui-agree__text" >
                        公开上墙
            </span>
        </label>
        <div class="home_upload">

            <a href='javascript:prepareUploadData();' class="weui-btn weui-btn_primary witness_btn">见证</a>
        </div>

        <div class="page__bd page__bd_spacing">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">
                    <div class="confession_record">
                        <p class="left_record"><img src="./static/images/left.png"></p>
                        <p class="cen_record"> 表白记录</p>
                        <p class="right_record"><img src="./static/images/right.png"></p>
                    </div>
                </div>
                <div class="weui-panel__bd">

                    <div class="weui-media-box weui-media-box_text " id="historyData">
                    {{if .nodelist }}
                    {{range .nodelist }}
                    <div class="weui-media-box weui-media-box_text record_content">

                        <p class="weui-media-box__desc say_word">{{ .Word}}</p>
                        <label style="text-align: right">
                            <p class="to_lover">{{ .To}}</p>
                        </label>
                    </div>
                    {{end }}
                    {{else}}
                        <p class="weui-media-box__desc say_word">Hi，你知道吗？这是我想对你说的话!其实我想大声告诉你，你是我的唯一，唯一的永恒</p>
                        <label for="weuiAgree" class="weui-agree" style="text-align: right">
                            <p class="weui-media-box__title to_lover">@我</p>
                        </label>
                    {{end}}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="js_dialog" id="iosDialog2" style="display:none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog dialog_tip">
        <div class="weui-dialog__bd">
            <p class="tip_word">本次见证消耗</p>
            <p class="tip_word"><font>520</font>BSTK</p>
            <p class="tip_word">已由活动主办方代为支付</p>
        </div>
        <div class="weui-dialog__ft home_upload">
            <p><a href="javascript:bsthide()" class="weui-dialog__btn weui-dialog__btn_primary ok_btn">好的</a></p>

        </div>
    </div>
</div>

<div id="luck_draw"  class="luck_draw" >
</div>
<p  id="luck_tip" class="luck_tip">
    <img src="./static/images/luckTip.png">
    <span class="go_luck" id="go_draw">
        <img src="./static/images/goLuck.png">
    </span>
</p>
<div class="js_dialog" id="ifEmpty" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog dialog_tip">
        <div class="weui-dialog__bd">
            <p class="tip_word">信息不能为空</p >
        </div>
        <div class="weui-dialog__ft home_upload">
            <p><a onclick="ifEmpty()" class="weui-dialog__btn weui-dialog__btn_primary ok_btn">确定</a></p >

        </div>
    </div>
</div>



<div id="scene_pay_wait" class="container">
    <div class="weui-msg">
        {{/*<div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg" style="color:#fd748d"></i></div>*/}}
            <div class="weui-msg__icon-area timer"><img src="../seven_night/static/images/time.png"></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title _tip">等待BSTK支付确认中...</h2>
            <h4 class="weui-msg__title pay_tip">使用根源链钱包扫描二维码进行支付</h4>
            <div id='addr_area'>
                <div id="qrcode" style="text-align: center;"></div>
                <p class="weui-msg__desc" id="payId" style="display: none;"></p>
            </div>

            <p class="weui-msg__desc" id="payExpire">支付于2018-08-10 16:24失效</p>
            <p class="copy_to"><a href="javascript:copypayId();" class="weui-btn_primary copy_addr">复制地址到剪贴板</a></p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:checkPay();" class="weui-btn weui-btn_default pay_result">刷新支付结果</a>
                <a href="javascript:cancelPay();" class="weui-btn weui-btn_warn pay_cancel">取消支付</a>
            </p>
        </div>
    </div>
</div>

<div id="scene_upload_success" class="container">
    <div class="page article js_show">

        <div class="letter_bg"></div>
        <div class="letter_img"></div>
        <a href='javascript:switchScene("scene_filldata");'> <div class="go_back" onclick="cleardata()"></div></a>
        <div class="letter_content">
            <div class="page__bd">
                <div class="weui-flex__item">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="weui-panel__bd">
                                <div class="weui-media-box weui-media-box_small-appmsg">
                                    <a href="javascript:;">
                                        <p class="to">TO:<input class="weui-input to_input" type="text"
                                                                readonly="readonly" placeholder="亲爱的" id="back_data_to">
                                        </p>
                                        <span class="picture"><img src="" id="updateimg1"></span>
                                    </a>
                                    <div class="weui_cell">
                                        <div class="weui_cell_bd weui_cell_primary">
                                            <textarea id="back_textarea" class="weui_textarea" placeholder="表白文字"
                                                      readonly="readonly" rows="3" maxlength="200"></textarea>
                                        </div>
                                    </div>
                                    <label for="weuiAgree" class="weui-agree">


                                        <p class="from">Form:<input class="weui-input from_input" type="text"
                                                                    readonly="readonly" placeholder="Lover"
                                                                    id="back_data_from">
                                        </p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-hd result">
            <p class="page__title result_tip">上链成功</p>
            <p class="page__title result_count">已有<span id="witness"></span>人见证了你的爱<span class="ask_pic" id="ask_pic" ></span></p>
        </div>
        <div class="page__hd">
            <p id="up_to"></p>
            <p id="up_content"></p>
            <p id="up_from"></p>
            <p class="weui-btn-area">
                <a href="javascript:openShare();" class="weui-btn weui-btn_primary deliver">投递</a>
            </p>
        </div>
        <div class="shade" id="shade" style="display: none" onclick="hideShade()">
            <p><img src="./static/images/share.png" style="width: 100%;height: 100%;"></p>
        </div>
    </div>
</div>
<div id="scene_show_prize" class="container">
    <div class="js_dialog" id="regret" style="display:none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog dialog_tips">
            <div class="weui-dialog__bd">
                <p class="tip_word">很遗憾,没中奖</p >
            </div>
            <div class="weui-dialog__ft home_upload">
                <p><a onclick="sendPrize()" class="weui-dialog__btn weui-dialog__btn_primary ok_btn" >确定</a></p >
            </div>
        </div>
    </div>
    <div class="js_dialog" id="numberAndName" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog dialog_tipTo" id="phoneDiv">
            <div class="weui-dialog__bd">
                <p class="tip_word"><input id="phoneNumber"class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入领取人手机号码"></p >
            </div>
            <div class="weui-dialog__ft home_upload">
                <p><a onclick="sendNubAndPrize()"class="weui-dialog__btn weui-dialog__btn_primary ok_btn">确定</a></p >
            </div>
        </div>
    </div>
    <div style="width: 100%;height: auto;position: absolute;top:0;bottom:0;background: black;opacity: 0.6;"></div>
    <div id="box">
        <div id="zhizhen"></div>
        <div id="huan"></div>
    </div>
</div>
<div id="scene_share_post_data" class="container">
    <div class="page article js_show">
        <div class="letter_bg_second"></div>
        <div class="letter_img_second"></div>
        <a href='javascript:' > </a>
        <div class="letter_content" id="reach_time" style="display:block">
            <div class="page__bd">
                <div class="weui-flex__item">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">

                            <div class="weui-panel__bd">
                                <div class="weui-media-box weui-media-box_small-appmsg second_letter">
                                    <a href="javascript:;">
                                        <p class="to">TO:<input class="weui-input to_input" type="text"
                                                                readonly="readonly" placeholder="亲爱的" id="share_up_to"
                                                                value="{{ .to}}">
                                        </p>
                                        <span class="picture"><img src="{{ .imageurl}}" ></span>

                                    </a>
                                    <div class="weui_cell">
                                        <div class="weui_cell_bd weui_cell_primary">
            <textarea id="share_up_textarea" class="weui_textarea" placeholder="" rows="3" maxlength="200"
                 value="{{ .word}}"     readonly="readonly"></textarea>
                                        </div>
                                    </div>
                                    <label for="weuiAgree" class="weui-agree _sender">
                                        <p class="from">Form:<input class="weui-input from_input" type="text" value="{{ .from}}"
                                                                    readonly="readonly" placeholder="From" value="爱人"
                                                                    id="share_up_from">
                                        </p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-msg__opr-area" style="display: block;margin-top:0.5rem">
                <p class="weui-btn-area">
                    <a href="javascript:jumpHome();" class="weui-btn weui-btn_primary also_send">我也要表白</a>
                </p>
            </div>
        </div>
        <div class="letter_content" id="not_reach_time" style="display: none">
            <div class="page__bd">
                <div class="weui-flex__item">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <div class="weui-panel__bd">
                                <div class="weui-media-box weui-media-box_small-appmsg second_letter">
                                    <a href="javascript:;">
                                        <p class="to">TO:<input class="weui-input to_input" type="text"
                                                                readonly="readonly" placeholder="神秘人" id="data_to">邮票
                                        </p>
                                    </a>
                                    <div class="weui_cell" style="text-align: center;margin-top:2rem;">
                                        <div class="weui_cell_bd weui_cell_primary">
                                            <p style="font-size: 0.6rem;color:#fd748d"></p>
                                            <p style="font-size:0.36rem;color:#7AA2EA">(开启倒计时)</p>
                                            <span style="font-size:0.36rem;color:#7AA2EA" id="day"></span>:
                                            <span style="font-size:0.36rem;color:#7AA2EA" id="hour"></span>:
                                            <span style="font-size:0.36rem;color:#7AA2EA" id="minute"></span>:
                                            <span style="font-size:0.36rem;color:#7AA2EA" id="second"></span>

                                        </div>
                                    </div>
                                    <label for="weuiAgree" class="weui-agree sender">
                                        <p class="from">Form:<input class="weui-input from_input" type="text"
                                                                    readonly="readonly" placeholder="From" value="神秘人"
                                                                    id="data_from">
                                        </p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-msg__opr-area" style="display: block">
                <p class="weui-btn-area">
                    <a href="javascript:jumpHome();" class="weui-btn weui-btn_primary also_send">我也要表白</a>
                </p>
            </div>
        </div>
        <div class="info">
            <p class="info_tip">基于根源链上链技术，信息已在根源链第{{.height}}区块中被记录，信息永久有效不可纂改</p>
            <div class="nav2"></div>
        </div>
        <div class="page-hd result">
            <p class="page__title result_tip">上链成功</p>
            <p class="page__title result_count">已有
                <span id="share_witness">{{ .height}}</span>人见证了你的爱<span class="ask_pic" id="ask_pic2"></span>
            </p>
        </div>
    </div>
</div>



</body>
<script type="text/javascript">
    // global var define here
    var baseLink = 'http://service.genyuanlian.com/seven_night/redirecturl';
    var shareLink = baseLink;
    var currentScene = 'scene_home';//'';
    var prevScene;
    var payId = '';
    var successPay = '';
    var isReachTime = {{ .isReachTime}};// = ;
    var openid ={{.openid }}
    var oder = {{ .oder}}
    var loading;

    var loadingStart = function () {
        loading = weui.loading('处理中...');
        setTimeout(function () {
            loading.hide(function () {
                console.log('`loading` has been hidden');
            });
        }, 20000);
    };

    var loadingStop = function () {
        if (loading) {
            loading.hide();
        }
    }


    var updateAddr = function () {
        $("#payId").html('');
        $("#qrcode").empty();
        new QRCode(document.getElementById("qrcode"), {
            text: '',
            width: 128,
            height: 128,
            colorDark: "#000000",
            colorLight: "#ffffff"
        });

        var expireUtc;// =;

        if (expireUtc > 0) {
            var expireDate = new Date(expireUtc);
            // TODO: format it
            $("#payExpire").html('支付于 ' + expireDate + ' 失效');
        }
    };
    //初始化判断是否显示
    var ifshowdata = function () {
        // first load goes here
        if (currentScene === 'scene_pay_wait') {
            //unfinishAddr
            updateAddr();
        } else if (currentScene === 'scene_share_post_data') {
            // share post
            if (isReachTime === 1) {
                var shareData = {to: {{ .to}}, from: {{.from}}, content: {{ .word}}};//JSON.stringify(});
                $("#not_reach_time").hide();
                $("#share_up_to").val(shareData.to);
                $("#share_up_to").attr("readonly", "readonly");
                $("#share_up_from").val(shareData.from);
                $("#share_up_from").attr("readonly", "readonly");
                $("#share_up_textarea").val(shareData.content);
                $("#share_up_textarea").attr("readonly", "readonly");
                $("#reach_time").show();
            } else {
                var shareData = {to: {{ .to}}, from: {{.from}}, content: {{ .word}}};//JSON.stringify(});
                $("#not_reach_time").hide();
                $("#share_up_to").val(shareData.to);
                $("#share_up_to").attr("readonly", "readonly");
                $("#share_up_from").val(shareData.from);
                $("#share_up_from").attr("readonly", "readonly");
                $("#share_up_textarea").val(shareData.content);
                $("#share_up_textarea").attr("readonly", "readonly");
                $("#reach_time").hide();
                $("#not_reach_time").show();
            }
        }
    }
    // Others start sequence
    $('#' + currentScene).show();

    function switchScene(sceneId) {
        debugger
        $('#' + currentScene).hide();
        $('#' + sceneId).show();
        prevScene = currentScene;
        currentScene = sceneId;
    }


    function backScene() {

        if (prevScene) {
            switchScene(prevScene);
        } else {
            switchScene('scene_home');
        }
    }

    function prepareUploadData() {
        if($("#data_from").val().length==0 || $("#data_to").val().length==0 || $("#data_content").val().length==0){

        $("#ifEmpty").css("display","block")
            return;
        }

        if (ifOpen()){
            ifOpenShow="true"
        }else {
            ifOpenShow="false"
        }
        // loading
        loadingStart();
        $.post("/seven_night/upimageAndmessage",
                {
                    userform: $("#data_from").val(),
                    touser: $("#data_to").val(),
                    word: $("#data_content").val(),
                    medId: medId,
                    openid: openid,
                    ifOpenShow:ifOpenShow

                }, function (res, status) {
                    loadingStop();
                    console.log('post res:', res, status);
                    if (res.code !== 0) {
                        weui.dialog({
                            title: '出错了',
                            content: res.msg,
                            buttons: [{
                                label: '确定',
                                type: 'primary',
                                onClick: function () {
                                }
                            }]
                        });
                    } else {
                        // show payment qrcode page
                        $("#payId").html(res.addr);
                        $("#qrcode").empty();
                        new QRCode(document.getElementById("qrcode"), {
                            text: res.addr,
                            width: 128,
                            height: 128,
                            colorDark: "#000000",
                            colorLight: "#ffffff"
                        });

                        /*var expireDate = new Date(res.data.expireUtc);*/
                        // TODO: format it
                        $("#payExpire").html('支付于 ' + "r" + ' 失效');
                        if (res.isPay != 1) {
                            addr = res.addr
                            payId = res.payId;
                            switchScene('scene_pay_wait');
                            checkPay(true);
                          payCheckInterval = setInterval(function() {
                                checkPay(true);
                            }, 5000);
                        } else {
                            //官方待支付后肯定会有高度和地址
                            //地址和高度赋值
                            addr=res.addr
                            height=res.height
                            //显示官方付款
                            $("#iosDialog2").css("display", "block");

                        }
                    }
                });
    }

    function copypayId() {
        clipboard.writeText($("#payId").text());
        weui.toast('支付地址已复制到剪贴板', 2000);
    }

    function checkPay() {
        debugger
        loadingStart();
        $.post("/seven_night/checkpay", {
            openid: openid,
            addr: addr,
            payid: payId

        }, function (res, status) {
            debugger
            loadingStop();
            if (res.code === 0) {
                debugger
                if (!res.data.paid) {
                    weui.toast('还未检查到您的支付确认', 2000);
                } else if (res.data.upload_error) {
                    weui.toast('未知错误，请联系客服', 2000);
                } else if (res.data.success) {
                    //分享的页面初始化加载
                    shareUrl = 'http://service.genyuanlian.com/seven_night/index?shareopenid=' + openid + '&addr=' + addr
                    share();
                    //设置高度
                    $("#witness").html(res.data.height);
                    //显示轮盘的花旦
                    payfortime=1
                    $("#luck_draw").css("display","block")
                    $("#luck_tip").css("display","block")
                    clearInterval(payCheckInterval)

                } else {
                    // do nothing
                }
            }

        });
    }

    //跳转到支付完成，需要分享的页面
   var  sharePage=function(){
        shareUrl = 'http://service.genyuanlian.com/seven_night/index?shareopenid=' + openid + '&addr=' + addr
        //重新初始化微信分享
        share()
       //回显和不可编辑
        $("#back_data_from").val($("#data_from").val())
        $("#back_data_from").attr("readonly", "readonly");
        $("#back_data_to").val($("#data_to").val())
        $("#back_data_to").attr("readonly", "readonly");
        $("#back_textarea").val($("#data_content").val())
        $("#back_textarea").attr("readonly", "readonly");
        $("#witness").html(height);
       switchScene('scene_upload_success');
   }




    function cancelPay() {
        loadingStart();
        loadingStop();
            weui.toast('支付单已取消', 2000);
            // switch to upload
            switchScene('scene_filldata');
        clearInterval(payCheckInterval)
    }


    function recordDetail(from, to, content, payId) {
        shareLink += '&pid=' + payId;
        updateWxShareInfo();
        $("#up_to").html(to);
        $("#up_from").html(from);
        $("#up_content").html(content);
        switchScene('scene_upload_success');
    }

    function jumpHome() {
        window.location.href = shareLink

    }

    function openShare() {
        // TODO: show wechat share promtp
        $("#shade").css("display", "block");
    }

    function hideShade() {
        $("#shade").css("display", "none");
    }
</script>
<script>
    // 弹幕定时器
    var timers = [];
    // 控制弹幕显隐变量
    var isShow = true;
    // 监听发送按钮
    $(".send").on("click", function () {
        // 创建弹幕
        var jqueryDom = createScreenbullet($("#screenBulletText").val());
        // 添加定时任务
        addInterval(jqueryDom);
    });
    // 监听关闭弹幕按钮
    $(".clear").on("click", function () {
        if (isShow) {
            $(".bullet").css("opacity", 0);
            isShow = false;
        } else {
            $(".bullet").css("opacity", 1);
            isShow = true;
        }
    });

    // 新建一个弹幕
    function createScreenbullet(text) {
        var jqueryDom = $("<div class='bullet'>" + text + "</div>");
        var fontColor = "rgb(" + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random() * 256) + "," + Math.floor(Math.random()) + ")";
        var fontSize = Math.floor((Math.random() + 1) * 24) + "px";
        var left = $(".screen_container").width() + "px";
        var top = Math.floor(Math.random() * 400) + "px";
        top = parseInt(top) > 352 ? "352px" : top;
        jqueryDom.css({
            "position": 'absolute',
            "color": fontColor,
            "font-size": fontSize,
            "left": left,
            "top": top,
        });
        $(".screen_container").append(jqueryDom);
        return jqueryDom;
    }

    // 为弹幕添加定时任务
    function addInterval(jqueryDom) {
        var left = jqueryDom.offset().left - $(".screen_container").offset().left;
        var timer = setInterval(function () {
            left--;
            jqueryDom.css("left", left + "px");
            if (jqueryDom.offset().left + jqueryDom.width() < $(".screen_container").offset().left) {
                jqueryDom.remove();
                clearInterval(timer);
            }
        }, 10);
        timers.push(timer);
    }
        //初始化元素，变化立即加载
    $(document).ready(function () {
        //判断返回的share
        if (oder == "share") {
            switchScene('scene_share_post_data');
            ifshowdata()
        }

    })


    //官方代付页面关闭
    var bsthide=function () {
        //关闭代付页面
        $("#iosDialog2").css("display", "none");
        //显示轮盘的花旦
        payfortime=1
        $("#luck_draw").css("display","block")
        $("#luck_tip").css("display","block")
    }



        //定时器
      var targetTime = new Date("2018-08-15 16:00:00");
       var timerId = countdown(

            function(ts) {
                $("#day").html(ts.days < 10 ? '0' + ts.days : ts.days);
                $("#hour").html(ts.hours < 10 ? '0' + ts.hours : ts.hours);
                $("#minute").html(ts.minutes < 10 ? '0' + ts.minutes : ts.minutes);
                $("#second").html(ts.seconds < 10 ? '0' + ts.seconds : ts.seconds);

                // TODO: timeout, cleart timerId
               if (ts.days==0&&ts.hours==0&&ts.minutes==0&&ts.seconds){
                   switchScene("scene_share_post_data")
                   $("#reach_time").show();
                   $("#not_reach_time").hide();
               }
                // TODO: timeout, cleart timerId
             var   a=ts-targetTime
                if (ts>targetTime){
                    switchScene("scene_share_post_data")
                    $("#reach_time").show();
                    $("#not_reach_time").hide();
                }
            },
            targetTime,
            countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);


    $(".ask_pic").click(function(){
        $(".info").toggle();
    })
    $(".ask_pic").click(function(){
        $(".infoTo").toggle();
    })
</script>


<script>
    //弹幕效果
    let Barrage = function() {
        this.data = []
        this.speed = 1
        this.list = []

        this.wrapInfo = {
            el: null,
            width: 0,
            children: [],
        }
    }

    Barrage.prototype.init = function(selector, options) {
        this.wrapInfo.el = document.querySelector(selector)
        this.wrapInfo.children = this.wrapInfo.el.querySelectorAll('.js_barrage_line')
        this.wrapInfo.width = this.wrapInfo.el.getBoundingClientRect().width

        this.data = options.data

        return this
    }

    Barrage.prototype.random = function() {
        return Math.floor(Math.random() * this.wrapInfo.children.length)
    }

    Barrage.prototype.raf = function(el) {
        let left = el.dataset.left

        if(left > 0) {
            left -= this.speed

            el.dataset.left = left

            el.style.transform = `translate(${left-150}px, 0)`

            window.requestAnimationFrame(() => {
                this.raf(el)
            })
        } else {
            this.wrapInfo.children[el.dataset.index].removeChild(el)
        }
    }

    Barrage.prototype.createElement = function() {
        let data = this.data.shift()

        let index = this.random()

        let div = document.createElement('div')

        div.className = `div-${index}`

        // div.style.backgroundColor="blue";

        div.style.backgroundImage ="url('../seven_night/static/images/blue_btn.png')";

        div.style.backgroundSize = "100%,100%";

        div.style.width="60%";

        div.style.height="0.8rem";

        div.style.textAlign="center";

        div.style.transform = `translate(${this.wrapInfo.width}px, 0)`

        div.innerHTML = data.text

        div.dataset.index = index

        div.dataset.left = this.wrapInfo.width

        console.log(index)

        this.wrapInfo.children[index].appendChild(div)

        window.requestAnimationFrame(() => {
            this.raf(div)
        })

    }

    Barrage.prototype.start = function() {
        let timer = null

        timer = setInterval(() => {
            if(this.data.length > 0) {
                this.createElement()
            } else {
                clearInterval(timer)
            }
        }, 1000)
    }

    let mookData = []

    {{ range .tanmu}}
        mookData.push({
            text: `{{map_get .data "word"}}`,
            index:1
        })
        {{ end }}

    new Barrage().init('.js_barrage_wrap', {
        data: mookData
    }).start()
</script>

{{/*<script>
    //点击冒爱心
    onload = function() {
        var click_cnt = 0;
        var $html = document.getElementsByTagName("html")[0];
        var $body = document.getElementsByTagName("body")[0];
        $html.onclick = function(e) {
            console.log(e);
            var $elem = document.createElement("b");
            $elem.style.color = "pink";
            $elem.style.zIndex = 9999;
            $elem.style.fontSize = "28px";
            $elem.style.position = "absolute";
            $elem.style.select = "none";
            var x = e.pageX;
            var y = e.pageY;
            $elem.style.left = (x - 50) + "px";
            $elem.style.top = (y - 20) + "px";
            clearInterval(anim);
            switch (++click_cnt) {
                case 10:
                    // $elem.innerText = "(๑•́ ∀ •̀๑)";
                    $elem.innerText = "❤";
                    break;
                default:
                    $elem.innerText = "❤";
                    break;
            }
            // $elem.style.fontSize = Math.random() * 20 + 8 + "px";
            $elem.style.fontSize ="1rem";
            var increase = 0;
            var anim;
            setTimeout(function() {
                anim = setInterval(function() {
                    if (++increase == 150) {
                        clearInterval(anim);
                        $body.removeChild($elem);
                    }
                    $elem.style.top = y - 20 - increase + "px";
                    $elem.style.opacity = (150 - increase) / 120;
                }, 8);
            }, 10);
            $body.appendChild($elem);
        };
    };
</script>*/}}

<script>
    ifOpen =function(){
           debugger
         return   document.getElementById("weuiAgree").checked
       }
</script>

<script type="text/javascript">
    //显示中奖的页面，隐藏开启中奖的花旦
    $("#go_draw").click(function(){
        debugger
        $("#luck_draw").css("display","none")
        $("#luck_tip").css("display","none")
        switchScene('scene_show_prize');
    });

//抽奖后的ajax 发送
     var ajaxprize=function(prizesend,numbe,name){
         $.post("/seven_night/prize",
                 {
                     openid: openid,
                     prize:prizesend,
                     number:numbe,
                     name:name
                 }, function (res, status) {
                     lunpan()
                     debugger
                     $("#phoneNumber").val("")
                     $("#numberAndName").css("display","none")

                    //无论成功都跳转到下一页
                     sharePage()
                 }
         )
     }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        lunpan()
        share()
    })
    var sendPrize=function () {
        $("#regret").css("display","none")
        ajaxprize(ifprize,"","")
    }
    var sendNubAndPrize=function () {
        $("#numberAndName").css("display","none")
     var  phoneNuber= $("#phoneNumber").val()
        ajaxprize(ifprize,phoneNuber,"")

    }
    var cleardata=function(){
        $("#data_to").val("")
        $("#data_from").val("")
        $("#data_content").val("")
    }
    var ifEmpty=function () {
        $("#ifEmpty").css("display","none")
    }
</script>
</html>