<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>根源连测试</title>


</head>
<body>

所有的转发分享接口用本机测试
{{/*<button class="btn btn_primary" id="onMenuShareTimeline">onMenuShareAppMessage</button>*/}}
<button class="btn btn_primary" id="chooseImage">选择图片接口</button>
{{/*<button class="btn btn_primary" id="startRecord">开始录音</button>
<button class="btn btn_primary" id="stopRecord">停止录音</button>
<button class="btn btn_primary" id="playVoice">播放刚刚录音的声音</button>
<button class="btn btn_primary" id="chooseWXPay">微信支付</button>
<button class="btn btn_primary" id="getimage">获取图片接口</button>
<button class="btn btn_primary" id="upwixinimage">上传到图片到服务器接口</button>*/}}
{{/*<span class="desc">获取地理位置接口</span>
<button class="btn btn_primary" id="getLocation">getLocation</button>*/}}
<div id="img">这是图片 img
    <form action="/upimageAndmessage" enctype="multipart/form-data" method="post">
    {{/*
    <input type="file"  id="updateimg" name="imagename"></input>
*/}}
        <input type="hidden" name="openid" value="{{ .openid}}">
        这是测试信息上传
        <input type="text" id="medId" name="medId">
        <input type="text" name="userform" value="程彦丰">
        <input type="text" name="touser" value="赵丽颖">
        <input type="text" name="word" value="不说了，直接给钱吧">
        <input type="submit">上传信息</input>
    </form>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src='/static/js/sha1.js'></script>
<script src='/static/js/weixin.js'></script>
</html>
